{
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["**.*.css", "*.css", "**.*.scss", "*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
