@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $color-background;
}

.main {
  flex: 1;
  padding-top: $header-height;
  padding-bottom: $bottom-nav-height;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  @include desktop {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}

.content {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: $max-width-desktop;
  padding: $space-8 0 calc($space-8 + 34px);

  display: flex;
  flex-direction: column;
  flex: 1;

  @include mobile {
    max-width: 100%;
  }

  @include desktop {
    padding: $space-8 0 calc($space-8 + 34px);
  }
}
