@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.page {
  @include flex-col;
  gap: $space-8;
  align-items: center;
}

.title {
  font-family: $font-family;
  font-size: $font-size-xl;
  font-weight: 700;
  color: #2b2b2b;
  line-height: normal;
}

.form {
  @include flex-col;
  gap: $space-12;
  align-items: center;
  width: 100%;
  flex: 1;
  justify-content: center;
  padding: 100px 0;
}

.inputs {
  @include flex-col;
  gap: $space-6;
  width: 100%;
}

.compareButton {
  width: 191px;
}
