@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
@use "@/styles/typography" as *;

.page {
  @include flex-col;
  gap: $space-8;
}

.title {
  @include h1;
  color: $color-text-main;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px $space-4;

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px $space-4;
  }
}
